$main-color: #b5ffe9;
$secondary-color: #383d3b;
$thirtiary-color: #9ceaef;
$text-color: #eef0f2;

head,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Rubik", sans-serif;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.container {
  margin: auto;

  &.fluid {
  }
}

.bg-section {
  background-color: $secondary-color;
  margin: 100px auto;
  color: #fff;
  height: 316px;
  width: 120vw;
  transform: rotate(-5deg) translateX(-50px);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 109vw;

  > * {
    transform: rotate(5deg) translateX(-40px);
  }

  @media screen and (max-width: 720px) {
    max-width: 120vw;

    > * {
      max-width: 95vw;
      transform: rotate(5deg) translateX(0);
    }
  }
}

.button {
  &.primary {
    margin: auto;
    cursor: pointer;

    background-color: $secondary-color;
    color: $thirtiary-color;
    // padding: 8px 18px 10px 14px;
    padding: 8px 12px;
    border-radius: 5px;
    text-align: center;

    &:hover {
      background-color: $main-color;
      color: $secondary-color;
      border: 1px solid $secondary-color;
      padding: 8px 11px;
    }

    &.reverse {
      color: $secondary-color;
      background-color: $thirtiary-color;

      &:hover {
        background-color: $secondary-color;
        color: $main-color;
        border: 1px solid $main-color;
      }
    }
  }
}

nav {
  position: relative;
  height: 180px;

  .background {
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 110px;
    width: 1400px;
    margin: auto;

    img {
      user-select: none;
      -webkit-user-drag: none;
      height: inherit;
      position: absolute;

      &.bottom {
        top: 20px;
        right: 90px;
      }
    }
  }

  .nav-text {
    position: relative;
    top: 12px;
    margin: auto;
    max-width: 1000px;
    font-family: "Open Sans", sans-serif;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;

    .nav-title {
      font-family: Open Sans;
      font-weight: 600;
      font-size: 35px;
    }

    .right-links {
      float: right;

      span {
        font-size: 25px;
        cursor: pointer;

        &:not(.contact) {
          padding: 10px 15px;

          &:hover {
            color: lighten($color: #000000, $amount: 50);
          }
        }
      }

      @media screen and (max-width: 600px) {
        span {
          &:not(.contact) {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    .background {
      img {
        &.bottom {
          top: 5px;
        }
      }
    }
  }
}

section.intro {
  text-align: center;
  span {
    display: block;
    margin: auto;
    max-width: 600px;
    line-height: 1.5;
    font-size: 2em;
  }

  @media screen and (max-width: 600px) {
    span {
      font-size: 1.5em;
      margin: 10px;
    }
  }
}

section.call-to-action-1 {
  div {
    span {
      font-size: 2em;
      color: $text-color;
    }

    div.button {
      margin-top: 40px;
      line-height: 57px;
      height: 57px;
      width: 235px;
      font-size: 2em;
    }
  }

  @media screen and (max-width: 600px) {
    div {
      text-align: center;
      span {
        font-size: 1.5em;
      }
    }
  }
}
