head,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Rubik", sans-serif;
}

head a,
body a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: auto;
}

.bg-section {
  background-color: #383d3b;
  margin: 100px auto;
  color: #fff;
  height: 316px;
  width: 120vw;
  -webkit-transform: rotate(-5deg) translateX(-50px);
          transform: rotate(-5deg) translateX(-50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 109vw;
}

.bg-section > * {
  -webkit-transform: rotate(5deg) translateX(-40px);
          transform: rotate(5deg) translateX(-40px);
}

@media screen and (max-width: 720px) {
  .bg-section {
    max-width: 120vw;
  }
  .bg-section > * {
    max-width: 95vw;
    -webkit-transform: rotate(5deg) translateX(0);
            transform: rotate(5deg) translateX(0);
  }
}

.button.primary {
  margin: auto;
  cursor: pointer;
  background-color: #383d3b;
  color: #9ceaef;
  padding: 8px 12px;
  border-radius: 5px;
  text-align: center;
}

.button.primary:hover {
  background-color: #b5ffe9;
  color: #383d3b;
  border: 1px solid #383d3b;
  padding: 8px 11px;
}

.button.primary.reverse {
  color: #383d3b;
  background-color: #9ceaef;
}

.button.primary.reverse:hover {
  background-color: #383d3b;
  color: #b5ffe9;
  border: 1px solid #b5ffe9;
}

nav {
  position: relative;
  height: 180px;
}

nav .background {
  z-index: -1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  height: 110px;
  width: 1400px;
  margin: auto;
}

nav .background img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  height: inherit;
  position: absolute;
}

nav .background img.bottom {
  top: 20px;
  right: 90px;
}

nav .nav-text {
  position: relative;
  top: 12px;
  margin: auto;
  max-width: 1000px;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: default;
}

nav .nav-text .nav-title {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 35px;
}

nav .nav-text .right-links {
  float: right;
}

nav .nav-text .right-links span {
  font-size: 25px;
  cursor: pointer;
}

nav .nav-text .right-links span:not(.contact) {
  padding: 10px 15px;
}

nav .nav-text .right-links span:not(.contact):hover {
  color: gray;
}

@media screen and (max-width: 600px) {
  nav .nav-text .right-links span:not(.contact) {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  nav .background img.bottom {
    top: 5px;
  }
}

section.intro {
  text-align: center;
}

section.intro span {
  display: block;
  margin: auto;
  max-width: 600px;
  line-height: 1.5;
  font-size: 2em;
}

@media screen and (max-width: 600px) {
  section.intro span {
    font-size: 1.5em;
    margin: 10px;
  }
}

section.call-to-action-1 div span {
  font-size: 2em;
  color: #eef0f2;
}

section.call-to-action-1 div div.button {
  margin-top: 40px;
  line-height: 57px;
  height: 57px;
  width: 235px;
  font-size: 2em;
}

@media screen and (max-width: 600px) {
  section.call-to-action-1 div {
    text-align: center;
  }
  section.call-to-action-1 div span {
    font-size: 1.5em;
  }
}
