/* === Global === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  width: 100%;
  background-color: #81f4e1;
  font-family: "Varela Round", sans-serif !important;
  font-family: sans-serif;
  font-size: 20px;
}

.container {
  margin: 40px auto;
  width: 1000px;
}

/* === Underlining animation for h3 elements === */

h3 {
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  display: table;
}

h3::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: black;
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
}

h3:hover::after {
  width: 100%;
}

/* === Header Image === */

.header-image {
  position: relative;
  background-image: url("../img/bg-img.jpg");
  min-width: 100%;
  min-height: 100vh;
  background-position: bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* === NavBar === */

.header {
  height: 100px;
  margin-top: -100px;
  width: 100%;
  background-color: #56cbf9;
  cursor: default;
  z-index: 1;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: grid;
  grid-template: "header nav nav";
  align-items: center;
}

.header .header-container {
  justify-self: left;
  grid-area: header;
  float: left;
  margin: 20px 10%;
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  position: relative;
  transition: all 200ms ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .header-container:hover {
  animation: pulsate 800ms linear;
}

.header i.fa {
  font-size: 50px;
  float: right;
  margin-top: 25px;
  margin-right: 6%;
  cursor: pointer;
  display: none;
}

.header ul {
  grid-area: nav;
  display: inline;
  margin-right: 10%;
  justify-self: right;
}

.header ul li {
  cursor: pointer;
  list-style-type: none;
  display: inline-block;
}

.header ul li a {
  color: black;
  text-decoration: none;
  padding: 12px;
  position: relative;
  text-transform: capitalize;
}

.header ul li a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  background-color: rgba(129, 244, 225, 0.4);
  transition: all 200ms ease-in;
}

.header ul li a:hover::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* === About === */

.about p {
  line-height: 2;
}

/* Skillset */

.skillset .skillset-container {
  display: flex;
  flex-wrap: wrap;
}

.skillset .skillset-container div {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 15px 0 0;
  max-width: fit-content;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow 100ms ease-in;
}

.skillset .skillset-container div:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skillset .skillset-container i,
.skillset .skillset-container img {
  height: 90px;
  font-size: 100px;
  color: rgb(0, 0, 0);
}

.skillset .skillset-container img#mongodb {
  max-height: 30px;
  width: auto;
}

.skillset .skillset-container img#redux {
  color: #7348b7;
}

.skillset-container i.fa-html5 {
  color: #e96227;
}

.skillset-container i.fa-css3-alt {
  color: #1b84c1;
}

.skillset-container i.fa-java {
  color: #0073b3;
}

.skillset-container i.fa-react {
  color: #00d0f7;
}

.skillset-container i.fa-android {
  color: #65ae43;
}

.skillset-container i.fa-node {
  color: #8bbf3d;
}

.skillset-container i.fa-js {
  color: #f5de19;
}

/* Projects */

.projects h3 {
  margin-bottom: 20px;
}

.project-list {
  position: relative;
}

.card {
  border-radius: 4px;
  display: block;
  width: 100%;
  background-color: #ccc;
  margin: auto;
  position: relative;
  z-index: 0;
  margin-bottom: 40px;
}

.card .info {
  border-radius: inherit;
  position: absolute;
  width: 200px;
  background-color: #d3c4d1;
  z-index: -1;
  color: #000;
  padding: 10px;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  font-size: 0.8em;
}

.card .info .title {
  margin-bottom: 8px;
}
.card:hover .info,
.card:active .info {
  z-index: 2;
  box-shadow: 10px 0 10px -1px rgba(40, 40, 40, 0.75);
}

.card:hover .img-container {
  opacity: 0.6;
}

.card:hover .img-container img {
  box-shadow: unset;
}

.card .info .info-section {
  border-bottom: 0.8px solid rgba(100, 100, 100, 0.8);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card .info .info-section:last-child {
  border-bottom: none;
}

.card .info .info-section .describe {
  text-decoration: underline;
}

.card .info .info-section .technologies ul {
  list-style-type: circle;
  margin-left: 30px;
}

.card .info .info-section .github-url {
  margin: 20px 0;
  background-color: #81f4e1;
  padding: 5px;
  border-radius: 2px;
}

.card .info .info-section .github-url img {
  max-height: 15px;
  width: auto;
  margin-bottom: -2px;
}

.card .info .info-section .github-url a {
  color: #000;
  text-decoration: none;
  padding: 6px;
}

.card .info .info-section .demo-button {
  margin: 10px 0;
  padding: 10px 5px;
  background-color: #ff729f;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.card .info .info-section .demo-button img {
  max-height: 20px;
  width: auto;
  float: left;
}

.card .info .info-section .demo-button a {
  color: #000;
  text-decoration: none;
}

.info::-webkit-scrollbar {
  width: 4px;
}

.info::-webkit-scrollbar-thumb {
  background: #888;
}

.info::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card .img-container {
  width: calc(100% - 120px);
  height: 100%;
  transition: 100ms ease-in;
  float: right;
  border-radius: inherit;
}

.card .img-container img {
  border-radius: inherit;

  width: 100%;
  height: auto;
  float: right;
  box-shadow: -10px 0 8px -1px rgba(40, 40, 40, 0.75);
}

/* === github === */

.github ul {
  margin-top: 10px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1em;
}

.github ul li {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #56cbf9;
}

.github ul li a {
  text-decoration: none;
  float: left;
}

.github ul li i.icon {
  color: #d14160;
  margin: 0 10px;
  font-size: 1.2em;
}

.github ul li div.description {
  margin: 5px;
  font-size: 0.8em;
}

.github .calendar {
  background-color: #fff;
  width: 100%;
}

/* === social === */

.social-container {
  display: flex;
  flex-wrap: wrap;
}

.social-container a {
  display: flex;
  justify-content: center;
  margin: 20px 15px 0 0;
  text-decoration: none;
}

.social-container .fab {
  font-size: 80px;
}

.social-container a:hover {
  animation: spin 600ms ease-in-out;
  -moz-animation: fold 600ms ease-in-out;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.social-container i.fa-github-square {
  color: #212121;
}

.social-container i.fa-linkedin {
  color: #0073af;
}

.social-container i.fa-codepen {
  color: black;
}
.social > a {
  /* text-decoration: none; */
  color: black;
  font-size: 1.4em;
  display: block;
  margin: 30px 0 10px 20px;
  border: 1px solid black;
  display: table;
  width: fit-content;
  width: -moz-fit-content;
  padding: 8px;
  border-radius: 5px;
}
/* == footer == */
.footer {
  height: 500px;
  width: 100%;
  background-color: #56cbf9;
  float: left;
  box-shadow: 20px -10px 20px rgba(0, 0, 0, 0.19),
    6px -6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer div,
.footer .fa {
  width: fit-content;
  margin: auto;
}
.footer .arrow-up-container {
  transition: all 1s ease-in-out;
  width: fit-content;
  height: fit-content;
}
.footer .arrow-up-container i {
  font-size: 80px;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .container {
    width: 700px;
  }
}

@media screen and (max-width: 760px) {
  .container {
    width: 95%;
  }

  .header-image {
    display: none;
  }

  .header {
    margin-top: 0;
    height: 90px;
  }
  .header .header-container {
    margin: 20px 6%;
  }
  .header .header-container h2 {
    font-size: 16px;
  }
  .header ul li {
    font-size: 11px;
  }

  .github ul .repo-stats {
    margin-top: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .github ul {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
  }
}
